@charset "UTF-8";

body{
    background-image: url(bg10.png);
}

/* 全体のフォント */
html{
    font-family: sans-serif;
}

nav li {
    display: inline;
    text-align: center;
}

.w_select {
    text-align: left;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.w_select th {
    padding: auto;
    width: 13em;
    font-size: 17px;
    margin-left: 600px;

}

.select{
    height: 2em;
    width: 10em;
    font-size: 17px;
    border: 2px solid;
    border-radius: 5px;
}


#table{
    background-color: white;
    border: 1px solid black;
    height: 300px;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
    overflow: auto;
}

input[name="REGIST"] {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 6px 20px;
    color: #000000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 5px;
    
}

.error {
	height: auto;
	text-align: center;
	margin-top: -60px;
	font-size: 40px;
}

.work_list{
    height: 350px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.work_list tr {
    padding: 6px 16px 6px 0;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    width: auto;
}

.work_list th, td {
    padding: 6px 16px 6px 0;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    width: 300px;
    text-align: center;
}
#work_msg {
	margin-left: 1100px;
}
#work_time {
    margin-left: 1100px;
    margin-top: -100px;
}